Flask
pymongo
flask-jwt-extended
bcrypt
flask-cors
torch

werkzeug
google-auth
google-auth-oauthlib
google-auth-httplib2
google-api-python-client
paddleocr
paddlepaddle
numpy
opencv-python
pdf2image
Pillow
docx

flask-cors
imread-from-url
onnxruntime-gpu
cap-from-youtube


torchvision


python-docx
pdf2image
gunicorn==21.2.0
ultralytics
