Flask
pymongo
flask-jwt-extended
bcrypt
flask-cors
torch
torchvision
ultralytics
PyMuPDF
werkzeug
google-auth
google-auth-oauthlib
google-auth-httplib2
google-api-python-client
paddleocr
paddlepaddle
numpy
opencv-python
pdf2image
Pillow
python-docx
imread-from-url
onnxruntime
cap-from-youtube
gunicorn
